ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
  }

  .TodoItemLoading {
    background-color: #fafafa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0 0 20px 0px lightyellow
  }
  
  .TodoItem-p {
    color: rgb(81, 182, 228);
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Icon-check-loading {
    position: absolute;
    left: 12px;
  }
 
  .Icon-delete-loading {
    position: absolute;
    top: -24px;
    right: 0;
  }

  .TodoItemLoading{
    background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
  }


  @keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }