body {
  margin: 0;
  padding: 0;
  background: #77a4ba;
  color: #2f095ba5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}